
.layout {
    display: flex;
    min-height: 100vh; /* full height */
}

.sidebar {
    width: 220px;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.sidebar a {
    text-decoration: none;
    color: darkgray;
}

.content {
    flex: 1;
    padding: 20px;
}

.title {
    text-decoration: none;
    color: black;
}
